<div class="YoutubeListingCard YoutubeListingCard--featured card" *ngIf="video" [routerLink]="['/player', video.id]">
  <div class="YoutubeListingCard__thumbnail_container">
    <img [offset]="100" lazyLoad="{{thumbnail_url}}" class="rounded-left">
  </div>
  <div class="YoutubeListingCard__content">
    <b class="YoutubeListingCard__content_title">{{ snippet.title | limitTo: 28 }}</b>
    <div class="YoutubeListingCard__content_statistics">
      {{ statistics?.viewCount }} views
      <br> {{ statistics?.likeCount }} likes
      <br> {{ snippet.publishedAt | agoFromNow }}
    </div>
  </div>
</div>