<ng-template #typeAheadTemplate let-country="result" let-t="term">
  	{{ country.name }}
</ng-template>
<header>
  <nav class="navbar bg-faded navbar-fixed-top text-dark">
		<a class="col-md-3 hidden-sm-down navbar__header" [routerLink]="['/']">
			<span class="glyphicon glyphicon-flash" aria-hidden="true" href="#"></span>
			<span class="navbar__header_text">trendings</span>
	  </a>
		<div class="col-xs-12 col-md-6">
	    	<div class="form-group">
	  			<input type="text"
	  				   class="form-control navbar__search_input"
	  				   placeholder="Enter your country"
	  				   [(ngModel)]="selectedCountry"
	  				   [ngbTypeahead]="search"
	  				   [resultTemplate]="typeAheadTemplate"
	  				   [inputFormatter]="formatter"
	  				   (ngModelChange)="selectCountry(selectedCountry)" />
			  </div>
	  </div>
	</nav>
</header>
