header {
  nav {
    padding: 0;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.98);

    .form-group {
      margin: 0;
    }

    .fa {
      padding: 10px;
      font-size: 30px;
    }

    .navbar__header {
      text-decoration: none;
      color: #343434;
      .glyphicon {
        padding: 10px;
        font-size: 30px;
      }
      .navbar__header_text {
        vertical-align: super;
        font-size: 25px;
      }
    }

    .nav-link {
      float: right;
      padding-right: 10px;
    }

    .navbar__search_input {
      height: 35px;
      font-size: 14px;
      margin: 10px 0 10px 0;
      box-shadow: inset 1px 1px 1px #ededed;
      &:focus {
        border-color: #aaa;
        box-shadow: inset 1px 1px 1px #ededed;
      }
    }
  }
}